<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadModalLabel">Descargar datos</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="contaier">
          <div class="row">
            <div class="col-4">
              <div class="form-group"><label for="downloadTypeResource">Capa:</label><select class="form-control form-control-sm" id="downloadTypeResource"><option data-type="points">Puntos</option><option data-type="routes">Rutas</option><option data-type="zones">Zonas</option></select></div>
              <div class="text-center mt-2"><button class="btn btn-primary m-auto" id="downloadButton" onclick="downloadData();">Descargar</button></div>
            </div>
            <div class="col-8">
              <p class="mb-2">Extensión:</p>
              <div class="w-100" id="downloadMapDiv" style="height:500px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#downloadModal").on("show.bs.modal", function(){
    hideSidebars();
  });

  $("#downloadModal").on("shown.bs.modal", function(){
    if( !window.downloadMap ){
      window.downloadMap = L.map("downloadMapDiv", {});

      var wikimedia = L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}{r}.png', {
        attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia</a>'
      }).addTo(downloadMap);
    }

    downloadMap.fitBounds( map.getBounds() );
    downloadMap.zoomIn();
  });

  function sendGeojson(geojson, filename){
    var text = JSON.stringify(geojson);
    var file = new File([text], filename, { type: "application/json;charset=utf-8" });
    saveAs(file);
  }

  function downloadData(){
    $("#downloadButton").prop("disabled", true);
    var bounds = downloadMap.getBounds();

    var resource = $("#downloadTypeResource").find(":selected").data("type");
    if(resource == "points"){
      getPoints(bounds, function(data){
        sendGeojson(data, "puntos");

        $("#downloadButton").prop("disabled", false);
      });
    }else if(resource == "routes"){
      getRoutes(bounds, function(data){
        sendGeojson(data, "rutas");

        $("#downloadButton").prop("disabled", false);
      });
    }else if(resource == "zones"){
      getZones(bounds, function(data){
        sendGeojson(data, "zonas");

        $("#downloadButton").prop("disabled", false);
      });
    }

  }
</script>
