#pointDataDialog.modal.fade(role='dialog' tabindex="-1")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title.text-secondary Cuéntanos acerca del punto que deseas agregar
        button.close(type='button' data-dismiss='modal') &times;
      .modal-body
        form#formPointData
          .container
            .row
              .col-sm-6.right-separator
                .form-group.mb-1
                  label.col-form-label.col-form-label-sm(for='newPointMotivo') &iquest;Qu&eacute; indica este punto?
                  select#newPointMotivo.form-control.form-control-sm
                    option(value='Cruce peligroso') Cruce peligroso
                    option(value='Diseño urbano peligroso') Dise&ntilde;o urbano peligroso
                    option(value='Condiciones peligrosas') Condiciones peligrosas
                    option(value='Bicicleta blanca') Bicicleta blanca
                    optgroup(label='Suceso')
                      option(value='Asalto') Asalto
                      option(value='Incidente vial') Incidente vial
                      option(value='Robo de bicicleta en estacionamiento') Robo de bicicleta en estacionamiento
                      option(value='Robo de bicicleta estacionada en la calle') Robo de bicicleta estacionada en la calle
                    optgroup(label='Invasión de ciclovía o carril confinado por:')
                      option(value='Vehículos estacionados en carril confinado') Veh&iacute;culos estacionados
                      option(value='Vehículos en movimiento en carril confinado') Veh&iacute;culos en movimiento
                      option(value='Comercio en carril confinado') Comercio
                      option(value='Otro') Otro
                    optgroup(label='Bikefriendly')
                      option(value='Comercio/Servicio Bikefriendly') Comercio/Servicio Bikefriendly
                      option(value='Colectivo/Punto de encuentro') Colectivo/Punto de encuentro
                .form-group.mb-1
                  label.col-form-label.col-form-label-sm(for="newPointDate") Fecha
                  input.form-control.form-control-sm.data-new-feature#newPointDate(data-provide="datepicker" data-date-today-highlight="true" data-date-language="es" data-date-autoclose="true" data-date-clear-btn="true" data-date-container="#pointDataDialog" data-date-format="yyyy-mm-dd" data-date-end-date="0d" readonly)

                .form-group.mb-1
                  label.col-form-label.col-form-label-sm(for='newPointComment') Comentario
                  textarea#newPointComment.form-control.form-control-sm(rows='4' placeholder='Indica información puntual para caracterizar con mayor profundidad el elemento')
              .col-sm-6(style='border-left:1px solid black;')
                h5 Informaci&oacute;n personalizada
                p.small Agrega tantos pares como necesites, si no ocupas alguno solo d&eacute;jalo vac&iacute;o.
                table.table.table-striped.table-sm
                  thead
                    tr
                      th Categor&iacute;a
                      th Valor
                  tbody#pointCustomInfo
                    tr
                      td
                        .form-group.mb-1
                          .input-group
                            input.form-control.form-control-sm.newPointValue(type='text' data-date-end-date="0d" data-rule-minlength='3' data-rule-maxlength='25' data-msg-minlength='Muy corto' data-msg-maxlength='Muy largo' data-rule-idname='true')
                      td
                        .form-group.mb-1
                          .input-group
                            input.form-control.form-control-sm.newPointValue(type='text')
                button.btn.btn-secondary.pull-right.btn-sm.addCustomRow(target='pointCustomInfo' additional-class='newPointValue') A&ntilde;adir categor&iacute;a
      // Footer
      .modal-footer
        button#submitPointData.btn.btn-success.bg-repu(type='button') Siguiente
        button.cancel-btn.btn.btn-secondary(type='button' data-confirmation-event='END_DRAW' data-toggle='confirmation' data-title='¿Deseas eliminar el marcador?' data-popout='true') Cancelar dibujo

script.
  $(".cancel-btn").on("END_DRAW", function(){
    window.endDraw();
  });
  
  $("#pointDataDialog").on("shown.bs.modal", function(){
    var today = new Date();

    var strDate = 'yyyy-mm-dd'
      .replace('yyyy', today.getFullYear())
      .replace('mm', today.getMonth()+1)
      .replace('dd', today.getDate());

    $("#newPointDate").datepicker("setDate", strDate);
    
    $("#submitPointData").click(function(e){
      $("#formPointData").submit();
    });
    
    $('#formPointData').validate({
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        },
        submitHandler: function(form) {
            window.newPointData = {
                type: $("#newPointMotivo").val(),
                date : $("#newPointDate").val()
            };

            var comment = $("#newPointComment").val();
            if( comment !== null && comment.length > 0 ){
                newPointData["Comentario"] = comment;
            }

            var customValues = $("input.newPointValue[type='text']");
            var key, value;
            for( var i = 0; i < customValues.length; i = i + 2 ){
                key = customValues[i].value;
                value = customValues[i+1].value;

                if(key !== null && key.length > 0){
                    newPointData[key] = value;
                }
            }

            $("#pointDataDialog").modal('hide');

            var html = "<div style='margin-top: 5px;'><button class='btn btn-success btn-sm bg-repu' data-save-text='Guardando...' onclick='insertPoint();' id='submitPoint'>Aceptar</button>&nbsp;<button class='btn btn-secondary btn-sm' data-toggle='modal' data-target='#pointDataDialog'>Modificar datos</button></div>";

            var popup = L.popup({
                    closeOnClick: false,
                    closeButton: false
                }).setContent(buildPointPopup(newPointData, html));

            drawPoint.bindPopup(popup).openPopup();
        }
    });
  });
  
  window.insertPoint = function(){
    $(this).button('save');
    var geojson = drawPoint.toGeoJSON();

    for(var key in newPointData ){
        geojson.properties[key] = newPointData[key];
    }

    console.log("inserting point", geojson);    
    socket.emit("insertPoint", geojson, function(err, geojson){
      if(err){
        console.log("Error inserting point", geojson, err);
      }else{
        window.drawLayer.clearLayers();
        window.map.addLayer(pruneCluster);
        addPointToLayer(geojson);

        drawPoint.bindPopup(L.popup().setContent("Gracias! Ahora tu información forma parte de Repubikla.")).openPopup();

        $("#dropdownTools").show(100);
        $("#buttonCancelDraw").hide(100);

        setTimeout(function(){
          cancelNewPoint();
        }, 2500);
      }
    });
  };
  
  function cancelNewPoint(){
    $('#pointDataDialog').modal('hide');

    $("#newPointComment").val("");
    $('.newPointValue').val("");
    $(".addedRow").remove();
  }
  
  
  
