html, body, #map {
  height: 100%;
  width: 100%;
  padding: 0;
}

body {
  padding-top: 55px;
}

#sidebarFilter .card-body select{
  width: 100%;
}

#sidebarFilter .card-header h5{
  font-weight: 600;
  margin: 0;
}

#sidebarFilter .card-header{
  padding-top: 5px;
  padding-bottom: 5px;
}

.share-button {
  font-size:20px;
}

.bg-repu{
  background-color: #1FB261;
}

.color-repu{
  color: #1FB261;
}

.btn-selected{
  background-color: #1FB261;
  color: white;
}

.btn-selected:hover{
  color: white;
}

/* prune cluster */
.leaflet-div-icon-point{
  border:1px solid white;
  color:blue;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
}

.point-dark-red{
    background: #b82e2e;
}
.point-red{
    background: #dc3912;
}
.point-black{
    background: #000000;
}
.point-lightred{
    background: #ff9900;
}
.point-purple{
    background: #990099;
}
.point-orange{
    background: #FF6347;
}
.point-other{
    background: #C0C0C0;
}
