#sidebarAbout
  .clearfix.my-4
  img.img-fluid.mb-2(src='/img/logo_clean.png' alt='Repubikla')
  #fb-root
  .fb-like.mb-1(data-href='https://www.facebook.com/repubikla' data-layout='button_count' data-action='like' data-size='small' data-show-faces='false' data-share='true')
  br
  a.twitter-follow-button(href='https://twitter.com/repubikla') Follow @Repubikla
  p.text-justify
    | Plataforma de mapeo alimentada por ciudadanos que con una estrategia de crowdsourcing busca generar y centralizar datos sobre la movilidad no motorizada en las ciudades.
  p.text-justify
    | Consulta de manera din치mica la informaci칩n haciendo uso de
    a(href='#' onclick="showSidebar('sidebarFilter')") nuestros filtros
    |  o herramienta para la
    a(href='#' onclick="showSidebar('sidebarIndicators')") generaci칩n de indicadores.
    |  Puedes decargar toda la informaci칩n desde nuestra
    a(href='#' onclick="showSidebar('sidebarDownload')") secci&oacute;n de descarga.
  p.text-justify
    | Surge con el objetivo de complementar informaci&oacute;n oficial y ofrecer un diagn&oacute;stico sobre el volumen y la diversidad de los desplazamientos ciclistas, la intermodalidad, la movilidad en grupo, la infraestructura, la siniestralidad y la inseguridad en el espacio p&uacute;blico. As&iacute; los tomadores de decisi&oacute;n y la sociedad civil quedan dotados de una herramienta de diagn&oacute;stico para impulsar y dise&ntilde;ar mejores condiciones para una movilidad sustentable y segura.
