<div id="sidebarAbout">
  <div class="clearfix my-4"></div>

  <img class="img-fluid mb-2" src="/img/logo_clean.png" alt="Repubikla" />

  <div id="fb-root"></div>
  <div class="fb-like mb-1" data-href="https://www.facebook.com/repubikla" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
  <br/>

  <a class="twitter-follow-button" href="https://twitter.com/repubikla">Follow @Repubikla</a>

  <p class="text-justify">Plataforma de mapeo alimentada por ciudadanos que con una estrategia de crowdsourcing busca generar y centralizar datos sobre la movilidad no motorizada en las ciudades.</p>
  <p class="text-justify">Consulta de manera dinámica la información haciendo uso de <button class="btn btn-sm btn-link p-0 m-0 b-0" onclick="showSidebar('sidebarFilter')">nuestros filtros</button> o herramienta para la <button class="btn btn-sm btn-link p-0 m-0 b-0" onclick="showSidebar('sidebarIndicators')">generación de indicadores.</button> Puedes decargar toda la información desde nuestra <button class="btn btn-sm btn-link p-0 m-0 b-0" onclick="$('#downloadModal').modal('show');">sección de descarga.</button></p>
  <p class="text-justify">Surge con el objetivo de complementar información oficial y ofrecer un diagnóstico sobre el volumen y la diversidad de los desplazamientos ciclistas, la intermodalidad, la movilidad en grupo, la infraestructura, la siniestralidad y la inseguridad en el espacio público. Así; los tomadores de decisión y la sociedad civil quedan dotados de una herramienta de diagnóstico para impulsar y diseñar mejores condiciones para una movilidad sustentable y segura.</p>
</div>
