<div id="sidebarFilter">
  <h3>Filtrar datos</h3>

  <div class="card border-secondary">
    <div class="card-header bg-secondary">
      <h5 class="text-white">Puntos</h5>
    </div>
    <div class="card-body"><select class="selectFilter pl-2" id="pointTypeFilter" data-placeholder=" Mostrar de tipo..." multiple="multiple">
      <option value="Incidente vial">Incidente vial</option>
      <option value="Asalto">Asalto</option>
      <option value="Robo de bicicleta en estacionamiento">Robo de bicicleta en estacionamiento</option>
      <option value="Robo de bicicleta estacionada en la calle">Robo de bicicleta estacionada en la calle</option>
      <option value="Bicicleta blanca">Bicicleta blanca</option>
      <option value="Cruce peligroso">Cruce peligroso</option>
      <option value="Diseño urbano peligroso">Diseño urbano peligroso</option>
      <option value="Condiciones peligrosas">Condiciones peligrosas</option>
      <option value="Comercio/Servicio Bikefriendly">Comercio/Servicio Bikefriendly</option>
      <option value="Colectivo/Punto de encuentro">Colectivo/Punto de encuentro</option>
      <option value="Vehículos estacionados en carril confinado">Vehículos estacionados en carril confinado</option>
      <option value="Vehículos en movimiento en carril confinado">Vehículos en movimiento en carril confinado</option>
      <option value="Comercio en carril confinado">Comercio en carril confinado</option>
      <option value="Invasión recurrente de banqueta">Invasión recurrente de banqueta</option></select></div>
  </div>

  <div class="card border-secondary my-2">
    <div class="card-header bg-secondary">
      <h5 class="text-white">Rutas </h5>
    </div>
    <div class="card-body"><select class="selectFilter" id="routeTypeFilter" data-placeholder=" Mostrar con motivo de..." multiple="multiple">
      <option value="Ir al trabajo">Ir al trabajo</option>
      <option value="Regreso a casa">Regreso a casa</option>
      <option value="Desplazamientos de trabajo">Desplazamientos de trabajo</option>
      <option value="Estudios">Estudios</option>
      <option value="Visitas">Visitas</option>
      <option value="Compras">Compras</option>
      <option value="Paseo, turismo">Paseo, turismo</option>
      <option value="Deporte">Deporte</option>
      <option value="Comida">Comida</option>
      <option value="Otra actividad">Otra actividad</option></select></div>
  </div>

  <div class="card border-secondary">
    <div class="card-header bg-secondary">
      <h5 class="text-white">Zonas</h5>
    </div>
    <div class="card-body"><select class="selectFilter" id="zoneTypeFilter" data-placeholder=" Mostrar con características..." multiple="multiple">
      <option value="zona_agradable">Agradable</option>
      <option value="zona_desagradable">Desagradable, hostil</option>
      <option value="zona_comoda">Cómoda, con buen diseño de calles y mobiliario</option>
      <option value="zona_incomoda">Incomoda, con mal diseño de calles y mobiliario</option>
      <option value="zona_comercio">Con concentración de comercios y servicios útiles</option>
      <option value="zona_conectada">Bien conectada</option>
      <option value="zona_no_conectada">Mal conectada</option>
      <option value="zona_insegura">Insegura (a nivel personal)</option>
      <option value="zona_no_iluminada">Mal iluminada</option>
      <option value="zona_transito">Tránsito confuso y peligroso</option>
      <option value="zona_no_mantenimiento">Mal mantenimiento (pavimento, instalaciones)</option></select></div>
  </div>
  <div class="float-right" style="margin-top:5px;"><button class="btn btn-success mr-1 bg-repu" onclick="applyFilters();">Aplicar filtros</button><button class="btn btn-secondary" onclick="cleanSidebarFilters();">Limpiar filtros</button></div>
</div>

<script>
  function applyFilters() {
    var show = [];

    $.each($("#pointTypeFilter option:selected"), function() {
      show.push($(this).val());
    });

    window.filterPoints(show);

    show = [];
    $('#routeTypeFilter option:selected').each(function() {
      show.push($(this).val());
    });

    window.filterRoutes(show);

    show = [];
    $('#zoneTypeFilter option:selected').each(function() {
      show.push($(this).val());
    });

    window.filterZones(show);
  }

  function cleanSidebarFilters() {
    cleanPointsFilters();
    cleanRoutesFilters();
    cleanZonesFilters();

    window.map.removeLayer(window.layers.zones);

    $("#sidebarFilter select").val("").trigger("chosen:updated");
  }
</script>
