#loadingModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='loadingModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#loadingModalLabel.modal-title Cargando...
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .progress
          .progress-bar.progress-bar-striped.active(role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width: 100%')
            span.sr-only Cargando...
