// sidebar-about
#sidebarAbout
  .clearfix.my-4
  img.img-fluid.mb-2(src='/img/logo_clean.png' alt='Repubikla')
  #fb-root
  .fb-like.mb-1(data-href='https://www.facebook.com/repubikla' data-layout='button_count' data-action='like' data-size='small' data-show-faces='false' data-share='true')
  br
  a.twitter-follow-button(href='https://twitter.com/repubikla') Follow @Repubikla
  p.text-justify
    | Plataforma de mapeo alimentada por ciudadanos que con una estrategia de crowdsourcing busca generar y centralizar datos sobre la movilidad no motorizada en las ciudades.
  p.text-justify
    | Consulta de manera dinámica la información haciendo uso de 
    a(href='#' onclick="showSidebar('sidebarFilter')") nuestros filtros
    |  o herramienta para la 
    a(href='#' onclick="showSidebar('sidebarIndicators')") generación de indicadores.
    |  Puedes decargar toda la información desde nuestra 
    a(href='#' onclick="showSidebar('sidebarDownload')") secci&oacute;n de descarga.
  p.text-justify
    | Surge con el objetivo de complementar informaci&oacute;n oficial y ofrecer un diagn&oacute;stico sobre el volumen y la diversidad de los desplazamientos ciclistas, la intermodalidad, la movilidad en grupo, la infraestructura, la siniestralidad y la inseguridad en el espacio p&uacute;blico. As&iacute; los tomadores de decisi&oacute;n y la sociedad civil quedan dotados de una herramienta de diagn&oacute;stico para impulsar y dise&ntilde;ar mejores condiciones para una movilidad sustentable y segura.
// sidebar-download
#sidebarDownload
  h3 Descargar datos
  .text-center
    .row
      button#downloadPoints.btn.btn-primary(data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>" onclick="window.downloadData(this.id,'puntos');" style='width:180px;margin-top:3px;')
        img.img-responsive(src='/img/icons/point.png' width='20' style='display:inline-block;')
        span(style='display:inline-block;') &nbsp;Descargar puntos
    .row
      button#downloadRoutes.btn.btn-primary(data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>" onclick="window.downloadData(this.id,'rutas');" style='width:180px;margin-top:3px;')
        img.img-responsive(src='/img/icons/route.png' width='20' style='display:inline-block;')
        span(style='display:inline-block;') &nbsp;Descargar rutas
    .row
      button#downloadZones.btn.btn-primary(data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>" onclick="window.downloadData(this.id,'zonas');" style='width:180px;margin-top:3px;')
        img.img-responsive(src='/img/icons/zone.png' width='20' style='display:inline-block;')
        span(style='display:inline-block;') &nbsp;Descargar zonas

// sidebar-filters
#sidebarFilter
  h3 Filtrar datos
  label(for='pointTypeFilter') Mostrar puntos de tipo:
  select#pointTypeFilter.selectpicker(multiple='' data-selected-text-format='count > 3' data-width='100%' data-actions-box='true' data-count-selected-text='{0} items seleccionados' data-deselect-all-text='Desmarcar todos' data-select-all-text='Marcar todos' data-none-selected-text='No mostrar puntos')
    option(value='Incidente vial') Incidente vial
    option(value='Asalto') Asalto
    option(value='Robo de bicicleta en estacionamiento') Robo de bicicleta en estacionamiento
    option(value='Robo de bicicleta estacionada en la calle') Robo de bicicleta estacionada en la calle
    option(value='Bicicleta blanca') Bicicleta blanca
    option(value='Cruce peligroso') Cruce peligroso
    option(value='Diseño urbano peligroso') Dise&ntilde;o urbano peligroso
    option(value='Condiciones peligrosas') Condiciones peligrosas
    option(value='Comercio/Servicio Bikefriendly') Comercio/Servicio Bikefriendly
    option(value='Colectivo/Punto de encuentro') Colectivo/Punto de encuentro
    option(value='Vehículos estacionados en carril confinado') Veh&iacute;culos estacionados en carril confinado
    option(value='Vehículos en movimiento en carril confinado') Veh&iacute;culos en movimiento en carril confinado
    option(value='Comercio en carril confinado') Comercio en carril confinado
    option(value='Invasión recurrente de banqueta') Invasi&oacute;n recurrente de banqueta
  label(for='routeTypeFilter') Mostrar rutas con motivo:
  select#routeTypeFilter.selectpicker(multiple='' data-selected-text-format='count > 3' data-width='100%' data-actions-box='true' data-count-selected-text='{0} items seleccionados' data-deselect-all-text='Desmarcar todos' data-select-all-text='Marcar todos' data-none-selected-text='No mostrar rutas')
    option(value='Ir al trabajo') Ir al trabajo
    option(value='Regreso a casa') Regreso a casa
    option(value='Desplazamientos de trabajo') Desplazamientos de trabajo
    option(value='Estudios') Estudios
    option(value='Visitas') Visitas
    option(value='Compras') Compras
    option(value='Paseo, turismo') Paseo, turismo
    option(value='Deporte') Deporte
    option(value='Comida') Comida
    option(value='Otra actividad') Otra actividad
  label(for='zoneTypeFilter') Mostrar zonas de caracter&iacute;sticas:
  select#zoneTypeFilter.selectpicker(multiple='' data-selected-text-format='count > 3' data-width='100%' data-actions-box='true' data-count-selected-text='{0} items seleccionados' data-deselect-all-text='Desmarcar todos' data-select-all-text='Marcar todos' data-none-selected-text='No mostrar zonas')
    option(value='zona_agradable') Agradable
    option(value='zona_desagradable') Desagradable, hostil
    option(value='zona_comoda') C&oacute;moda, con buen dise&ntilde;o de calles y mobiliario
    option(value='zona_incomoda') Incomoda, con mal dise&ntilde;o de calles y mobiliario
    option(value='zona_comercio') Con concentraci&oacute;n de comercios y servicios &uacute;tiles
    option(value='zona_conectada') Bien conectada
    option(value='zona_no_conectada') Mal conectada
    option(value='zona_insegura') Insegura (a nivel personal)
    option(value='zona_no_iluminada') Mal iluminada
    option(value='zona_transito') Tr&aacute;nsito confuso y peligroso
    option(value='zona_no_mantenimiento') Mal mantenimiento (pavimento, instalaciones)
  .pull-right(style='margin-top:5px;')
    button#applyFilters.btn.btn-primary Aplicar filtros
    button#cleanFilters.btn.btn-default Limpiar filtros

// sidebar indicators
#sidebarIndicators
  h3 Indicadores
  h4.text-primary
    | Estos indicadores se generan con la extensi&oacute;n de la vista actual del mapa y su procesamiento consume recursos de tu computadora.
  hr
  h4 Los 10 cruces con mayor n&uacute;mero de incidentes viales.
  .form-group.form-inline
    label(for='topBufferSize') Tama&ntilde;o del buffer (metros):
    input#topBufferSize.form-control(type='number' value='20')
  button#downloadTopDangerous.btn.btn-link.btn-xs.hidden(type='button' onclick='downloadTopDangerousResults()') Descargar resultados
  pre#resultTopDangerous.

  .pull-right
    button.btn.btn-primary(type='button' onclick='getTopDangerous()') Generar
    button.btn.btn-link(type='button' onclick='clearIndicators()') Limpiar
